*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #F55A5A;
  padding: 2em;
  color: white;
}

nav > img{
  width: 2em;
}

.entry{
  display: flex;
  gap: 1em;
  margin: 2em;
}

.image-container{
  width: 25vw;
  overflow: hidden;
  height: 25vh;
  border-radius: .3em;
}

.image-container > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country{
  margin-left: .1em;
  margin-right: .7em;
  font-weight: 700;
  font-size: 1.2em;
}