*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #F55A5A;
  padding: 2em;
  color: white;
}

nav > img{
  width: 2em;
}